:root {

	--color-white: #FFFFFF;
	--color-primary: #61C968;
	--color-primary-reduced: rgb(from var(--color-primary) r g b / 15%);
	--color-black: #0E0E0E;
	--color-sale: #ED3F41;
	--color-error: #ED3F41;
	
	--border-white: rgba(255,255,255,0.2);

	--h1: 60px;
	--h2: 56px;
	--h3: 52px;
	--h4: 40px;
	--h5: 32px;
	--h6: 25px;
	
	--base: 20px;
	--small: 18px;
	--xs: 16px;
	--xxs: 14px;
	--xxxs: 12px; 
	
	--font-body-family: "Barlow", sans-serif;
	--font-heading-family: "Barlow Condensed", sans-serif;

}

.barlow-regular {
	font-family: var(--font-body-family);
	font-weight: 400;
	font-style: normal;
}

.barlow-semibold {
	font-family: var(--font-body-family);
	font-weight: 600;
	font-style: normal;
}

.barlow-condensed-semibold {
	font-family: var(--font-heading-family);
	font-weight: 600;
	font-style: normal;
}

/* Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

html.menu-open,
html.menu-open body {
	overflow: hidden;
}

body {
  margin: 0;
}

/* Typography */
body {
  font-family: var(--font-body-family);
  font-size: 1rem;
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  	margin: 0;
  	font-family: var(--font-heading-family);
  	font-weight: 600;
	font-style: normal;
}

p {
  margin: 0 0 1rem;
  font-family: var(--font-body-family);
}

a {
  color: inherit;
}

/* Media */
img,
svg,
video {
  display: block;
  max-width: 100%;
}

/* Forms */
button,
input,
select,
textarea {
  font: inherit;
}

/* Layout */
.page-width {
  width: min(
    calc(100% - (var(--page-gutter) * 2)),
    var(--page-width)
  );
  margin-inline: auto;
}