.collection-grid {

	.collection-grid__items {

		display: flex;
		gap: 10px;
		flex-wrap: wrap;
		justify-content: space-between;

		.collection-grid__item {

			width: calc(20% - 10px);
			min-width: calc(20% - 10px);

			.collection-grid__link {

				position: relative;

				.collection-grid__media {

					.collection-grid__image {
						width: 100%;
						aspect-ratio: 1/1;
						height: unset;
						object-fit: cover;
					}

				}

				.collection-grid__content {

					position: absolute;
					bottom: 0;
					left: 0;
					width: 100%;
					padding: 50px 15px 15px 15px;
					display: flex;
					align-items: center;
					gap: 10px;
					background: linear-gradient(
						to top,
						rgba(0, 0, 0, 0.85) 0%,
						rgba(0, 0, 0, 0) 100%
					);

					.collection-grid__title {
						margin: 0;
					}

					.collection-grid__arrow {
						svg {
							path {
								fill: #fff;
							}
						}
					}

				}

			}

		}

	}

}