.collection-grid {

	.collection-grid__items {

		display: flex;
		gap: 10px;
		flex-wrap: wrap;
		justify-content: center;

		.collection-grid__item {

			width: calc(20% - 10px);
			min-width: calc(20% - 10px);

			.collection-grid__link {

				.collection-grid__media {

					.collection-grid__image {
						width: 100%;
						aspect-ratio: 1/1;
						height: unset;
						object-fit: cover;
					}

				}

				.collection-grid__content {

					.collection-grid__title {

					}

					.collection-grid__arrow {

					}

				}

			}

		}

	}

}