.payment-options {

	width: 100%;

	.payment-options__inner {

		background: var(--color-primary-reduced);
		border-radius: 4px;
		padding: 30px 35px;
		justify-content: space-between;
		display: flex;
		align-items: center; 

		.payment-options__intro {

			.payment-options__title {

			}

			.payment-options__description {

			}

		}

		.payment-options__items {

			display: flex;
			justify-content: space-between;

			.payment-options__item {

				display: flex;
				align-items: center;
				gap: 16px;

				.payment-options__icon {
					img {
						width: 80px;
						height: unset;
						display: block;
					}
				}

				.payment-options__content {

					.payment-options__item-title {

					}

					.payment-options__item-description {

					}

				}

			}

		}

		.payment-options__cta {

			.payment-options__cta-link {

				display: flex;
				gap: 10px;
				align-items: center;
				color: var(--color-primary);
				font-family: var(--font-heading-family);
				text-transform: uppercase;

				.payment-options__cta-arrow {

				}

			}

		}

	}

}