.payment-options {

	width: 100%;

	.container {
		@media (max-width: 768px) {
			padding: 0;
		}
	}

	.payment-options__inner {

		background: var(--color-primary-reduced);
		border-radius: 4px;
		padding: 30px 35px;
		justify-content: space-between;
		display: flex;
		align-items: center; 

		@media (max-width: 990px) {
			flex-wrap: wrap;
			@media (max-width: 768px) {
				padding: 20px;
				border-radius: 0;
			}
		}

		.payment-options__intro {

			@media (max-width: 990px) {
				width: 100%;
				text-align: center;
				margin: 0 0 20px 0;
			}

			.payment-options__description {
				@media (max-width: 768px) {
					font-size: 13px;
				}
			}

		}

		.payment-options__items {

			display: flex;
			justify-content: space-between;
			gap: 50px;

			@media (max-width: 990px) {
				width: 100%;
				@media (max-width: 768px) {
					gap: 20px;
				}
			}

			.payment-options__item {

				display: flex;
				align-items: center;
				gap: 16px;

				@media (max-width: 768px) {
					flex-wrap: wrap;
					justify-content: center;
					gap: 10px;
				}

				.payment-options__icon {
					img {
						width: 60px;
						height: unset;
						display: block;
					}
				}

				.payment-options__content {

					@media (max-width: 768px) {
						width: 100%;
						text-align: center;
					}

					.payment-options__item-title {
						margin: 0 0 2px 0;
					}

					.payment-options__item-description {
						@media (max-width: 768px) {
							font-size: 13px;
						}
					}

				}

			}

		}

		.payment-options__cta { 

			@media (max-width: 990px) {
				width: 100%;
			}

			.payment-options__cta-link {

				display: flex;
				gap: 10px;
				align-items: center;
				color: var(--color-primary);

				@media (max-width: 990px) {
					justify-content: center;
					width: 100%;
					margin: 24px 0 0 0;
				}

				.payment-options__cta-arrow {
					.payment-options__cta-arrow {
						svg {
							path {
								transition: .3s all;
							}
						}
					}
				}

				&:hover {
					color: #fff;
					.payment-options__cta-arrow {
						svg {
							path {
								fill: #fff;
							}
						}
					}
				}

			}

		}

	}

}