.payment-options {

	width: 100%;

	.payment-options__inner {

		background: var(--color-primary-reduced);
		border-radius: 4px;
		padding: 30px 35px;
		justify-content: space-between;
		display: flex;
		align-items: center;

		.payment-options__intro {

			.payment-options__title {

			}

			.payment-options__description {

			}

		}

		.payment-options__items {

			.payment-options__item {

				.payment-options__icon {

				}

				.payment-options__content {

					.payment-options__item-title {

					}

					.payment-options__item-description {

					}

				}

			}

		}

		.payment-options__cta {

			.payment-options__cta-link {

				.payment-options__cta-arrow {

				}

			}

		}

	}

}