.product-slider {

	.product-slider__header {

		display: flex;
		justify-content: space-between;
		align-items: center;
		margin: 0 0 20px 0;

		.product-slider__title {
			margin: 0;
		}

		.product-slider__controls {

			display: flex;
			align-items: center;
			gap: 30px;

			.product-slider__view-all {
				color: var(--color-primary);
				text-decoration: underline;
			}

			.product-slider__navigation {

				display: flex;
				gap: 5px;

				.product-slider__arrow {
					display: flex;
					align-items: center;
					justify-content: center;
					width: 40px;
					height: 40px;
					padding: 0;
					border: 1px solid var(--color-primary);

					@media (max-width: 990px) {
						display: none;
					}

					svg {
						transform: rotate(180deg);
					}

					&.product-slider__arrow--next {

						svg {
							transform: rotate(0deg);
						}
					}

					&.swiper-button-disabled {
						opacity: .3;
					}
				}

			}

		}

	}

	.product-slider__swiper,
	.product-slider__grid {

		.product-slider__items {
			display: grid;
			grid-template-columns: repeat(var(--products-desktop), minmax(0, 1fr));
			gap: 10px;

			@media (max-width: 750px) {
				grid-template-columns: repeat(var(--products-mobile), minmax(0, 1fr));
			}
		}

		.product-slider__item {

		}

	}

	.product-slider__pagination {

	}

}