.product-slider {

	.product-slider__header {

		display: flex;
		justify-content: space-between;
		align-items: center;

		.product-slider__title {
			margin: 0;
		}

		.product-slider__controls {

			display: flex;
			align-items: center;

			.product-slider__view-all {
				color: var(--color-primary);
				text-decoration: underline;
			}

			.product-slider__navigation {

				

				.product-slider__arrow {

				}

			}

		}

	}

	.product-slider__swiper,
	.product-slider__grid {

		.product-slider__items {
			display: grid;
			grid-template-columns: repeat(var(--products-desktop), minmax(0, 1fr));
			gap: 10px;

			@media (max-width: 750px) {
				grid-template-columns: repeat(var(--products-mobile), minmax(0, 1fr));
			}
		}

		.product-slider__item {

		}

	}

	.product-slider__pagination {

	}

}