.section-rich-text {

	.content {

		max-width: 880px;
		margin: 0;

		&.text-align-center {
			margin: 0 auto;
			text-align: center;
		}

		.block-title {

		}

		.block-subtitle {

		}

		.btn-flex {

			.button {

			}

		}

		.block-testimonial {

			blockquote {

			}

			.note {
				.text-note {

				}
			}

		}

		.block-image {

			img {

				display: block;

			}

		}

	}

}