.usp-bar {

	.usp-bar__items {

		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;

		@media (max-width: 990px) {
			gap: 10px;
		}

		.usp-bar__divider {
			width: 1px;
			height: 44px;
			background: var(--border-white);
			@media (max-width: 990px) {
				display: none;
			}
		}

		.usp-bar__item {

			@media (max-width: 990px) {
				background: #151515;
				background: red;
				width: calc(50% - 5px);
				min-width: calc(50% - 5px);
			}

			.usp-bar__link {

				display: flex;
				align-items: center;
				gap: 20px;

				.usp-bar__icon {
					img {
						width: 30px;
						height: 30px;
						display: block;
						object-fit: contain;
					}
				}

				.usp-bar__content {

					.usp-bar__title {
						margin: 0 0 2px 0;
					}

					.usp-bar__description {
						margin: 0;
					}

				}

			}

		}

	}

}