.usp-bar {

	.usp-bar__items {

		display: flex;
		flex-wrap: wrap;

		.usp-bar__divider {
			width: 1px;
			height: 50px;
			background: var(--border-white);
		}

		.usp-bar__item {

			min-width: calc(25% - 1px);
			flex: 1;

			.usp-bar__link {

				display: flex;
				align-items: center;
				gap: 20px;

				.usp-bar__icon {
					img {
						width: 30px;
						height: 30px;
						display: block;
						object-fit: contain;
					}
				}

				.usp-bar__content {

					.usp-bar__title {
						margin: 0 0 2px 0;
					}

					.usp-bar__description {
						margin: 0;
					}

				}

			}

		}

	}

}